#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}
#form-input {
  width: 20em;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 1em;
  color: black;
  margin-bottom: 0.5em;
}
#form-input::placeholder {
  color: black;
}
#form-btn {
  color: white;
  background-color: black;
  padding: 0.5em 1em;
  width: 10em;
  font-size: 1em;
  border: 0px;
  border-radius: 5px;
}
