body {
  margin: 0;
  font-family: "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/sun.jpg") no-repeat fixed center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}
