#weather-main {
  text-align: center;
  font-size: 2em;
}
#weather-main span {
  font-size: 2.5em;
  display: block;
}

div.w-con-main {
  display: flex;
  justify-content: space-around;
}

.w-con {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  padding: 1em 1em;
  margin: 2em 0em;
}
#w-con-left {
  border-right: 0.5px solid white;
}

#w-con-right {
  border-left: 0.5px solid white;
}
